.feature {
  width: 300px;
  margin-bottom: 2rem;

  background: #ccc;
  padding: 0 1rem 1rem 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border-radius: 1rem;
}

.icon {
  height: 70px;
  width: 70px;
  background: #2e2e2e;
  border-radius: 50%;
}

.feature h3,
.feature p,
.icon {
  transform: translateY(-35px);
}
