.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 5vw;
}

.logo {
  background: #ccc;
  padding: 1rem;
  font-weight: 700;
}

.navList {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
