.footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  background: #cccccc;
  padding: 5vh 5vw;
}

.footer .footerTop {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .footerTop div {
  min-width: 300px;
}

.footer .footerTop ul {
  list-style: none;
}

.footer .footerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
