.aboutUs {
  background: #2e2e2e;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  border-radius: 3rem 3rem 0 0;

  animation: slideUp alternate;
  animation-timeline: view();
}

.leftColumn,
.rightColumn {
  padding: 5vh 5vw;

  width: 100%;
  max-width: 600px;
}

.leftColumn h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.leftColumn ul {
  padding: 1rem 2rem;
}

.rightColumn img {
  width: 100%;
  animation: spark 2s infinite alternate;
}

@keyframes slideUp {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes spark {
  from {
    filter: drop-shadow(0px 0px 40px #ffffff20);
  }
  to {
    filter: drop-shadow(0px 0px 40px #ffffff60);
  }
}
